.container {
  position: relative; /* Để các phần tử con có thể được định vị tương đối */
  height: 90vh; /* Chiều cao toàn bộ viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Để ẩn các phần tử tràn ra ngoài */
}

/* .signup {
  text-decoration: underline;
} */

.background {
  background-image: url("../media/image/4k_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute; /* Để hình nền nằm dưới cùng */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px); /* Làm mờ hình nền */
  z-index: 1; /* Đặt z-index thấp hơn để hình nền nằm dưới nội dung */
  height: 100%;
}

.content {
  display: flex;
  position: relative; /* Để nội dung nằm trên hình nền */
  z-index: 2; /* Đặt z-index cao hơn để nội dung nằm trên hình nền */
  color: white; /* Màu chữ */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal_content {
  animation: popup 0.5s ease-in-out forwards;
}

@keyframes popup {
  0% {
    transform: scale(0); /* Bắt đầu với kích thước 0 */
    opacity: 0; /* Bắt đầu với độ trong suốt 0 */
  }
  50% {
    transform: scale(1.25); /* Phóng to lên 120% */
    opacity: 1; /* Độ trong suốt 1 */
  }
  100% {
    transform: scale(1); /* Quay lại kích thước ban đầu */
    opacity: 1; /* Độ trong suốt 1 */
  }
}

@keyframes slideIn {
  0% {
    clip-path: inset(
      0 100% 0 0
    ); /* Start with the text clipped from the right */
    opacity: 0; /* Start invisible */
  }
  100% {
    clip-path: inset(0); /* Reveal the entire text */
    opacity: 1; /* Fully visible */
  }
}

.slideInText {
  display: inline-block; /* Ensure the element can be clipped */
  animation: slideIn 2s ease forwards; /* Apply the slide-in effect */
  opacity: 0; /* Start invisible */
}

.question {
  background: linear-gradient(
    to right,
    #fdeb71,
    #f8d800
  ); /* Gradient từ màu #72edf2 đến #5151e5 */
  background-clip: text; /* Cắt nền để chỉ hiển thị trên chữ */
  -webkit-background-clip: text; /* Hỗ trợ cho trình duyệt WebKit */
  color: transparent; /* Làm cho màu chữ trong suốt để hiển thị gradient */
  text-shadow: 0 0 2px #fdeb71, /* Glow màu sáng */ 0 0 4px #fdeb71,
    0 0 6px #f8d800, 0 0 8px #f8d800;
}
